<dfinance-frontend-main-header pageName="Warehouse Master"></dfinance-frontend-main-header>
<dfinance-frontend-loader [loadingFlag]="isLoading"></dfinance-frontend-loader>

<div class="row content-wrapper">
    <div class="col-md-3 left-section" [class.overlay-disabled]="!isInputDisabled">     
        <div #overlay [class.overlay]="!isInputDisabled" [style.display]="isInputDisabled ? 'none' : 'block'">
            <p translate>Disabled</p>
          </div>
        <div class="col-md-12 mb-3 fill-item-master" >
                <ngx-datatable 
                class="material container striped"
                [rows]="allWarehouseMasters"
                [columnMode]="'flex'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="50" 
                [scrollbarV]="true"
                (activate)="onClickWarehouseMaster($event)"
                [limit]="10">

                <ngx-datatable-column name="Name" [flexGrow]="2">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row?.name }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Code" [flexGrow]="2">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row?.code }}
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
    
    <div class="col-md-9 ">
        <div #btngroup class="btn-group form-topbar" role="group" aria-label="Warehouse Master">
            <button type="button" class="btn btn-outline-secondary" (click)="onClickNewWarehouseMaster()"
              [disabled]="isNewBtnDisabled" [class.top-button-active]="!selectedWarehouseMasterId" translate>
              <i class="large material-icons">add_to_photos</i>New</button>
            <button type="button" class="btn btn-outline-secondary" (click)="onClickSaveWarehouseMaster()"
              [disabled]="isSaveBtnDisabled" translate>
              <i class="large material-icons">save</i>Save</button>
            <button type="button" class="btn btn-outline-secondary" (click)="onClickEditWarehouseMaster()"
              [disabled]="isEditBtnDisabled" [class.top-button-active]="selectedWarehouseMasterId" translate>
              <i class="large material-icons">edit</i>Edit</button>
            <button type="button" class="btn btn-outline-secondary" (click)="onClickDeleteWarehouseMaster()"
              [disabled]="isDeleteBtnDisabled" translate>
              <i class="large material-icons">delete_forever</i>Delete
            </button>
            <button type="button" class="btn btn-outline-secondary" translate>
                <i class="large material-icons">print</i>Print
            </button>
            <button type="button" class="btn btn-outline-secondary" translate>
                <i class="large material-icons">pageview</i>Preview
            </button>
            <button type="button" class="btn btn-outline-secondary" translate>
                <i class="large material-icons">settings</i>Settings
            </button>
            <button type="button" class="btn btn-outline-secondary" translate>
                <i class="large material-icons">help</i>Help
            </button>
          </div>
        <div class="right-section">

            <form [formGroup]="warehouseMasterForm" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-container">
                            <div class="section-content">
                                <div class="outline-box">
                                    <div class="row">
                                        <label for="type" class="form-label col-md-2">Type<span
                                                class="required-asterisk">*</span></label>
                                        <div class="col-md-4">
                                            <select id="type" class="form-select" formControlName="type" (change)="onSelectWarehouseType()" >
                                                <option *ngFor="let types of warehouseTypes" [value]="types?.id">{{ types?.name }}</option>
                                            </select>                                                
                                            <div *ngIf="warehouseMasterForm.get('type')?.hasError('required')">
                                                <small class="text-danger">This field is required.</small>
                                            </div>
                                        </div> 
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4" style="text-align: right;">
                                            <label for="active" class="form-label" style="margin-right: 3px;">Active</label>
                                            <input type="checkbox" id="active" class="form-check-input "
                                                formControlName="active">
                                        </div>                                    
                                    </div>

                                    <div class="row">
                                        <label for="type" class="form-label col-md-2">Code<span
                                                class="required-asterisk">*</span></label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="code"
                                                formControlName="code">
                                            <div *ngIf="warehouseMasterForm.get('code')?.hasError('required')">
                                                <small class="text-danger">This field is required.</small>
                                                </div>
                                        </div>   
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4" style="text-align: right;">
                                            <label for="isdefault" class="form-label" style="margin-right: 3px;">IsDefault</label>
                                            <input type="checkbox" id="isdefault" class="form-check-input "
                                                formControlName="isdefault">
                                        </div>                                  
                                    </div>

                                    <div class="row">
                                        <label for="name" class="form-label col-md-2">Name<span
                                            class="required-asterisk">*</span></label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="name"
                                                formControlName="name">
                                            <div *ngIf="warehouseMasterForm.get('name')?.hasError('required')">
                                                <small class="text-danger">This field is required.</small>
                                            </div>
                                        </div>                 
                                    </div>

                                    <div class="row">
                                        <label for="address" class="form-label col-md-2">Address<span
                                            class="required-asterisk">*</span></label>
                                        <div class="col-md-10">
                                            <textarea class="form-control" id="address"
                                            formControlName="address"></textarea>
                                            <div *ngIf="warehouseMasterForm.get('address')?.hasError('required')">
                                                <small class="text-danger">This field is required.</small>
                                            </div>
                                        </div>                 
                                    </div>

                                    <div class="row">
                                        <label for="remarks" class="form-label col-md-2">Remarks<span
                                            class="required-asterisk">*</span></label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="remarks"
                                                formControlName="remarks">
                                            <div *ngIf="warehouseMasterForm.get('remarks')?.hasError('required')">
                                                <small class="text-danger">This field is required.</small>
                                            </div>
                                        </div>                 
                                    </div>
                                </div>
                                <div class="outline-box" *ngIf="showOtherDetails">
                                    <div class="row">
                                        <label for="clearingchargepercft" class="form-label col-md-2">Clearing Charge Per CFT</label>
                                        <div class="col-md-10">
                                            <input type="number" class="form-control" id="clearingchargepercft"
                                                formControlName="clearingchargepercft">
                                        </div>                 
                                    </div>

                                    <div class="row">
                                        <label for="groundrentpercft" class="form-label col-md-2">Ground Rent Per CFT</label>
                                        <div class="col-md-10">
                                            <input type="number" class="form-control" id="groundrentpercft"
                                                formControlName="groundrentpercft">
                                        </div>                 
                                    </div>

                                    <div class="row">
                                        <label for="lottingperpiece" class="form-label col-md-2">Lotting Per Piece</label>
                                        <div class="col-md-10">
                                            <input type="number" class="form-control" id="lottingperpiece"
                                                formControlName="lottingperpiece">
                                        </div>                 
                                    </div>
                                    <div class="row">
                                        <label for="lorryhirepercft" class="form-label col-md-2">Lorry Hire Per CFT</label>
                                        <div class="col-md-10">
                                            <input type="number" class="form-control" id="lorryhirepercft"
                                                formControlName="lorryhirepercft">
                                        </div>                 
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
