<dfinance-frontend-main-header pageName="Category Type"></dfinance-frontend-main-header>
<dfinance-frontend-loader [loadingFlag]="isLoading"></dfinance-frontend-loader>

<div class="row content-wrapper">
    <div class="col-md-3 left-section" [class.overlay-disabled]="!isInputDisabled">     
        <div #overlay [class.overlay]="!isInputDisabled" [style.display]="isInputDisabled ? 'none' : 'block'">
            <p translate>Disabled</p>
          </div>
        <div class="col-md-12 mb-3 fill-item-master" >
                <ngx-datatable 
                class="material container striped"
                [rows]="allCategoryType"
                [columnMode]="'flex'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="50" 
                [scrollbarV]="true"
                (activate)="onClickCategoryType($event)"
                [limit]="10">

                <ngx-datatable-column name="Description" [flexGrow]="2">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row?.description }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Code" [flexGrow]="2">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row?.code }}
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
    
    <div class="col-md-9 ">
        <div #btngroup class="btn-group form-topbar" role="group" aria-label="Category">
            <button type="button" class="btn btn-outline-secondary" (click)="onClickNewCategoryType()"
              [disabled]="isNewBtnDisabled" [class.top-button-active]="!selectedCategoryTypeId" translate>
              <i class="large material-icons">add_to_photos</i>New</button>
            <button type="button" class="btn btn-outline-secondary" (click)="onClickSaveCategoryType()"
              [disabled]="isSaveBtnDisabled" translate>
              <i class="large material-icons">save</i>Save</button>
            <button type="button" class="btn btn-outline-secondary" (click)="onClickEditCategoryType()"
              [disabled]="isEditBtnDisabled" [class.top-button-active]="selectedCategoryTypeId" translate>
              <i class="large material-icons">edit</i>Edit</button>
            <button type="button" class="btn btn-outline-secondary" (click)="onClickDeleteCategoryType()"
              [disabled]="isDeleteBtnDisabled" translate>
              <i class="large material-icons">delete_forever</i>Delete
            </button>
            <button type="button" class="btn btn-outline-secondary" translate>
            <i class="large material-icons">print</i>Print
            </button>
            <button type="button" class="btn btn-outline-secondary" translate>
            <i class="large material-icons">pageview</i>Preview
            </button>
            <button type="button" class="btn btn-outline-secondary" translate>
            <i class="large material-icons">settings</i>Settings
            </button>
            <button type="button" class="btn btn-outline-secondary" translate>
            <i class="large material-icons">help</i>Help
            </button>
          </div>
        <div class="right-section">

            <form [formGroup]="categoryTypeForm" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-container">
                            <div class="section-content">
                                <div class="row">
                                    <label for="type" class="form-label col-md-2">Code<span
                                            class="required-asterisk">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="code"
                                            formControlName="code">
                                        <div *ngIf="categoryTypeForm.get('code')?.hasError('required')">
                                            <small class="text-danger">This field is required.</small>
                                            </div>
                                    </div>                                    
                                </div>
                                <div class="row">
                                    <label for="description" class="form-label col-md-2">Description<span
                                        class="required-asterisk">*</span></label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="description"
                                            formControlName="description">
                                        <div *ngIf="categoryTypeForm.get('description')?.hasError('required')">
                                            <small class="text-danger">This field is required.</small>
                                        </div>
                                    </div>                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
